<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1e9a9">  <td>19/11/05 11:48:47</td>   <td>0</td> <td title="&gt;&gt;TestBase.startApp()[pri:0, instance:com.wipro.testbase.TestBase@58ea606c]">&gt;&gt;startApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@137460818</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>19/11/05 11:48:47</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC01.start()[pri:0, instance:com.wipro.testcases.TC01@6f45df59]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@137460818</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>19/11/05 11:48:54</td>   <td>7513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test1()[pri:0, instance:com.wipro.testcases.TC01@6f45df59]">test1</td> 
  <td>main@137460818</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>19/11/05 11:49:01</td>   <td>14047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test2()[pri:0, instance:com.wipro.testcases.TC01@6f45df59]">test2</td> 
  <td>main@137460818</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>19/11/05 11:49:08</td>   <td>21429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test3()[pri:0, instance:com.wipro.testcases.TC01@6f45df59]">test3</td> 
  <td>main@137460818</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>19/11/05 11:49:11</td>   <td>24575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test4()[pri:0, instance:com.wipro.testcases.TC01@6f45df59]">test4</td> 
  <td>main@137460818</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>19/11/05 11:49:11</td>   <td>24707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test5()[pri:0, instance:com.wipro.testcases.TC01@6f45df59]">test5</td> 
  <td>main@137460818</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>19/11/05 11:49:14</td>   <td>27461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test6()[pri:0, instance:com.wipro.testcases.TC01@6f45df59]">test6</td> 
  <td>main@137460818</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>19/11/05 11:49:16</td>   <td>29123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.test7()[pri:0, instance:com.wipro.testcases.TC01@6f45df59]">test7</td> 
  <td>main@137460818</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>19/11/05 11:49:19</td>   <td>31840</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC01.stop()[pri:0, instance:com.wipro.testcases.TC01@6f45df59]">&lt;&lt;stop</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@137460818</td>   <td></td> </tr>
</table>
