<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="98f367">  <td>19/11/06 09:19:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC03.start()[pri:0, instance:com.wipro.testcases.TC03@58ea606c]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="c1bd8b">  <td>19/11/06 09:19:15</td>   <td>-31</td> <td title="&gt;&gt;TestBase.startApp()[pri:0, instance:com.wipro.testcases.TC03@58ea606c]">&gt;&gt;startApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>19/11/06 09:19:40</td>   <td>24392</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC03.stop()[pri:0, instance:com.wipro.testcases.TC03@58ea606c]">&lt;&lt;stop</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>19/11/06 09:19:25</td>   <td>9406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03.test1()[pri:0, instance:com.wipro.testcases.TC03@58ea606c]">test1</td> 
  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>19/11/06 09:19:31</td>   <td>15960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03.test2()[pri:0, instance:com.wipro.testcases.TC03@58ea606c]">test2</td> 
  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>19/11/06 09:19:33</td>   <td>17716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03.test3()[pri:0, instance:com.wipro.testcases.TC03@58ea606c]">test3</td> 
  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>19/11/06 09:19:34</td>   <td>18190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03.test4()[pri:0, instance:com.wipro.testcases.TC03@58ea606c]">test4</td> 
  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>19/11/06 09:19:37</td>   <td>21231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03.test5()[pri:0, instance:com.wipro.testcases.TC03@58ea606c]">test5</td> 
  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>19/11/06 09:19:40</td>   <td>24226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03.test6()[pri:0, instance:com.wipro.testcases.TC03@58ea606c]">test6</td> 
  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>19/11/06 09:19:40</td>   <td>24299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03.test7()[pri:0, instance:com.wipro.testcases.TC03@58ea606c]">test7</td> 
  <td>main@2030036700</td>   <td></td> </tr>
</table>
